<mat-toolbar class="mb-3">
    <button mat-icon-button class="me-3" aria-label="Bottone per espandere o aprire il menù"
        (click)="toggled.emit(true)">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../../assets/images/logo.svg" class="logo"
        alt="Logo applicazione con scritta Emanuele Martinelli">
    <span class="flex-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Pulsante di condivisione">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>