<mat-toolbar class="mb-3">
    <button mat-icon-button class="me-3" aria-label="Bottone per espandere o aprire il menù"
        (click)="toggled.emit(true)">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../../assets/images/logo.svg" class="logo"
        alt="Logo applicazione con scritta Emanuele Martinelli">
    <span class="flex-spacer"></span>
    <a mat-icon-button class="button-ref" href="https://emanuelemartinelli.com" target="_blank" aria-label="Link esterno al sito di presentazione" matTooltip="Sito di presentazione"><mat-icon>contacts</mat-icon></a>
    <button mat-icon-button class="button-ref" aria-label="Pulsante di condivisione">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>