<mat-sidenav-container class="sidebar-container" *ngIf="!isFullPage(); else fullPage" [hasBackdrop]="true">
  <mat-sidenav #sidebar mode="side" class="sidebar">
    <div class="container-fluid">
      <div>
        <app-sidebar-items (navigated)="sidebar.toggle()"></app-sidebar-items>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (toggled)="sidebar.toggle()"></app-navbar>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #fullPage>
  <router-outlet></router-outlet>
</ng-template>
