<mat-sidenav-container class="sidebar-container" *ngIf="!isFullPage(); else fullPage">
  <mat-sidenav #sidebar mode="over">
    <div class="container-fluid">
      <div>
        <mat-nav-list>
          <a class="pl-2 pr-2" mat-list-item *ngFor="let page of sidebarItems" [routerLink]="page.path">
            <span class="menu-icon w-10">
              <!-- <i [class]="'fad fa-' + page?.icon"></i> -->
              <mat-icon>{{page.icon}}</mat-icon>
            </span>
            <span class="pl-3">{{ page?.title }} </span>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (toggled)="sidebar.toggle()"></app-navbar>
    <div class="container-fluid">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #fullPage>
  <router-outlet></router-outlet>
</ng-template>
