<div class="squares square1"></div>
<div class="squares square2"></div>
<div class="squares square3"></div>
<div class="squares square4"></div>
<div class="squares square5"></div>
<div class="squares square6"></div>
<div class="squares square7"></div>
<div class="container d-flex h-custom justify-content-center">
    <div class="row align-self-center">
        <div class="col-12 text-center">
            <img class="angular-logo" src="../../../assets/images/angular.svg">
        </div>
        <div class="col-12 text-center">
            <h1 class="title">The <strong>Angular</strong> Project</h1>
            <span class="subtitle">by <strong>Emanuele Martinelli</strong></span>
        </div>
        <div class="col-12 mt-3 text-center">
            <button mat-raised-button class="red-bg" [routerLink]="'/home'">Open</button>
        </div>
    </div>
</div>

